<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hgdns</title>
    <link href="../static/css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="header-wrap">
    <div class="top">
        <ul>
            <li><a href="extensive_domain_search">泛域名查询</a></li>
            <li><a href="domain_search">域名查询</a></li>
            <li><a href="extensive_domain_add">创建泛域名</a></li>
            <li><a href="domain_add">创建域名</a> </li>
            <li><a href="extensive_domain_delete">删除泛域名</a> </li>
            <li><a href="domain_delete">删除域名</a></li>
            <li><a href="monitoring">DNS运行状况</a></li>
        </ul>
    </div>
</div>
</body>
</html>